@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@angular/cdk/overlay-prebuilt.css';

/* Global styles can be added below */
body {
    @apply bg-gray-100 text-gray-900;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

a {
    @apply text-blue-600 hover:text-blue-500;
}